body {
    background-color:    powderblue;
}
div {

	padding: 10px;
	border: 5px;
	margin: 0;

}
.center{

	margin: auto;
	width: 50%;

}
.column {

	float left;
	width:33.3%
	margin-bottom 16px;
	padding : 0 8px;
}
@media screen and (max-width: 650px){
	.column{
		width: 100%;
		display: block;
	}
}

.card{
	box-shadow: 0 4px 8pc 0 rgba(0,0,0,0.2);
}

.container {
	padding : 0 16px;
}

.container::after, .row::after{
	content:"";
	clear: both;
	display: table;
}

img{
   height: 250px;
}
