{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
	<div align = "center" class="center">
	<img src="{% static 'css/img/logo.png'%}">
	</div>

<div align = "center" class="center">
<h1>Welcome to Background Npc's A.R.G</h1>
<h3>What is an A.R.G?</h3>
<hr>
<iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<hr>
<p>However in my case, it would be just a puzzle solving game.</p>
</div>

<div align ="center">
<p>The game are simple, find the hidden "URL code" and type it in the browser. For example:<p>

<div align = "center" class ="">
	<img src="{% static 'css/img/hint.png'%}">
</div>

<p>Each code will lead you to the next puzzle until you reach the end.</p>
<p>Good Luck!</p>

</div>


</body>
</html>
