{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
<h1><font color="red">Good lets begin...</font></h1>

<div class="center">
<h4>“Imagine life as a game in which yu are juggling some five balls in the air. You name them—work, faily, health, friends and spirit…and you’re keeping all of these in the air.You will soon understand that work is a rubber ball. If you drop it, it will bounce back. But the other four balls—family, health, frinds and spirit—are made of glass. If you drop one of these, they will be irrevocably scuffed, marked, nicked, damaged or even shattered. They will never be the same. You must understand that and strive for balace in your life." -Bryan Dyson</h4>
</div>

<p>Hint: read it carefully</p>
</body>
</html>
