{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
<h1><font color="red">Who's Who</h1>


<div align="center" class="row">
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/deadpool.png'%}" alt="R">
			<div class="container">
			<span>Ryan Reynolds</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/BatmanAdamWest.jpg'%}">
			<div class="container">
			<span>Michael Keaton</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/MagnetoIanMcKellen.png'%}" alt="I">
			<div class="container">
				<span>Ian McKellen</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/Pepper P.jpg'%}" alt="G">
			<div class="container">
			<span>Gwyneth Paltrow</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/logan.jpg'%}" alt="H">
			<div class="container">
			<span>Hugh Jackman</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/Mark Strong.jpg'%}">
			<div class="container">
				<span>J.K Simmons</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/Willem D.png'%}">
			<div class="container">
				<span>Patrick Stewart</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/benedict cumberbatch.png'%}">
			<div class="container">
				<span>Benedict Quequmberbach</span>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
		<img src="{% static 'css/img/Tom Holland.jpg'%}" alt="T">
			<div class="container">
				<span>Tom Holland</span>
			</div>
		</div>
	</div>

</div>
<p>Hint: Inspect the Images</p>
</body>
</html>
