<title>PYTHON GAME ARG</title>
<link rel="stylesheet" type="text/css"  href="{% static 'css/gamehome.css' %}">
</head>
<body>
<h1>" "</h1>
<div align = "center" class="center">
<hr>
<p>"For Doomhammer!"</p>
<hr>
<p>"We are the HORDE. We are slaves to nothing and no one!"</p>
<hr>
<p>"Thrall... the blood haze has lifted... the demon's fire has burnt out in my veins....I...have...freed...myself..."</p>
<hr>
<p>"Drink Hellscream...Claim your destiny. You will all be conquerors."</p>
<hr>
<p>"Looks like meat's back on the menu boys!"</p>



</div>
<p>Hint: All said by.</p>
</body>
</html>
